# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# IDEs e editores
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Configs temporárias
*.class
